<mat-toolbar >
<h5>Pentagon</h5>
<h2>
&nbsp;
&nbsp;
<nav class="navbar navbar-expand-lg navbar-light " id = "nav">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
    <a class="nav-link" href="#" id="select">Place Order</a>
        
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"> Trading History </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> Status Code </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link " href="#">About us</a>
      </li>
    </ul>
    
  </div>
</nav>
</h2>
</mat-toolbar>
<mat-sidenav-container> <mat-sidenav mode="side"
	opened class="mat-elevation-z8">
<button mat-button class="menu-button">
	<span>Buy Stock</span>
</button>
<mat-divider></mat-divider>
<button mat-button class="menu-button">
	<span>Sell Stock</span>
</button>
<mat-divider></mat-divider>
<button mat-button class="menu-button">
	<span>Trade History</span>
</button>
<mat-divider></mat-divider>
<button mat-button class="menu-button">
	<span>Status Report</span>
</button>

</mat-sidenav> <mat-sidenav-content>
<div class="content mat-elevation-z8">
<br> <br>
	<div class="container">

  
  <h3>
  
</h3>




<br><br>
  <router-outlet></router-outlet>
</div>

</div>
</mat-sidenav-content> </mat-sidenav-container>




