mat-toolbar {
    height: 8%;
    background: #0c0c0c;
    color: white;
    text-align: center;
}

mat-sidenav {
    margin: 0%;
    width: 15%;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 0px;
    padding: 1%;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.content {
    height: calc(105vh - 98px);
    border-radius: 10px;
    margin: 12px;
    margin-left: 30px;

    display: flex;


    font-size: 1rem;
    background: whitesmoke;
    color: darkgray;

}

mat-sidenav-container {
    height: calc(105vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    border-color: aliceblue;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    background-color: #002b5c;
    color: white;

}
mat-divider{
    
    color:darkgray;
    font-weight: lighter;
    margin: 3%;
}

