<div class="col md-6" class="breadcrumb" style= "margin-left: 5%; margin-bottom: 0%; margin-top:1%">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Trade History</li>
  </ol>
</nav>
</div>
<!-- Trade History table, it hides when there is no stocks -->
<div *ngIf="Stocks.length !== 0">
	<div class="col-md-12" style="margin-top: 0%; margin-left:0%">
	  <table class="table table-hover table-bordered">
		<thead class="thead-dark">
		  <tr>
			<th scope="col">Stock Id</th>
			<th scope="col">Stock Ticker</th>
			<th scope="col">Price</th>
			<th scope="col">Volume</th>
            <th scope="col">Buy or Sell </th>
            <th scope="col"> Status Code </th>
		
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let stock of Stocks">
			<td>{{stock.id}}</td>
			<td>{{stock.stockTicker}}</td>
			<td>{{stock.price}}</td>
            <td>{{stock.volume}}</td>
            <td>{{stock.buyOrSell}}</td>
            <td>{{stock.statusCode}}</td>
			<!--td>
			  <a [routerLink]="['/buy-order/']" class="btn btn-primary btn-sm float-right">Add New</a>&nbsp;
			  <a [routerLink]="" (click)="deleteStock(stock.id)" class="btn btn-danger btn-sm float-right">Delete</a>
			</td-->
		  </tr>
		</tbody>
	  </table>
	</div>
</div>
