<div class="col-md-12" style="margin-left:0%; margin-top:0%">
	<h3 class="mb-3 text-center" style="color:black">Buy Stock</h3>
	<div class="form-group row" >
  <div class="input-group-prepend">
    <label class="control-label col-md-12" for="inputGroupSelect01">Stock Ticker</label>
  </div>
  <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="stockDetails.stockTicker" style="margin-bottom:2%; height:15%">
    <option selected>Choose the Stock Ticker</option>
    <option value="One">One</option>
    <option value="Two">Two</option>
    <option value="Three">Three</option>
  </select>
</div>

	<div class="form-group row">
	  <label class="control-label col-md-12">Price</label>
	  <input type="text" [(ngModel)]="stockDetails.price" class="form-control">
	</div>

	<div class="form-group row">
	  <label class="control-label col-md-12">Volume</label>
	  <input type="text" [(ngModel)]="stockDetails.volume" class="form-control">
	</div>

	<div class="form-group row">
	  <label class="control-label col-md-12">Action</label>
      <input [(ngModel)]="stockDetails.buyOrSell" default="Buy" class="form-control" disabled>
	</div>

    <div class="form-group row">
	  <label class="control-label col-md-12">Status Code</label>
	  <input type="text" [(ngModel)]="stockDetails.statusCode" class="form-control">
	</div>

	<div class="form-group">
	  <button class="btn btn-success btn-lg btn-block" (click)="addStock()" >Buy Stock</button>
	</div>
</div>
