<p>stock-ticker-list works!</p>
<div *ngIf="Data1.length !== 0">
	<div class="col-md-12">
	  <table class="table table-bordered">
		<thead>
	
          <tr>
			<th scope="col">Symbol</th>
			<th scope="col">Ticker Name</th>
           <th scope="col">Country</th>
			<th scope="col">Industry</th>
		  </tr>
		</thead>
		<tbody>
       
          <tr *ngFor="let data of Data1">
			<td>{{data.symbol}}</td>
			<td>{{data.name}}</td>		
            <td>{{data.country}}</td>
            <td>{{data.industry}}</td>

			
		  </tr>
		</tbody>
	  </table>
	</div>
</div>
